body, html {
	height: 100%;
}

.flc {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.room-cal {
	float: left;
	width: 80%;
	height: 90%;
}

.room-co {
	width: 100%;
	height: 10%;
}

.room-co span {
	margin: 0 5px;
}

.room-co span a {
	cursor: pointer;
	color: #dd4b39;
	font-size: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
}

.room-co span.current a {
	cursor: default;
	color: #4285f4;
}

.cal-co {
	width: 100%;
	height: 90%;
}

.cal {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.cal th {
	height: 5%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	color: #555;
}

.cal td {
	width: 14.28%;
	height: 19%;
	border: 1px solid #ddd;
}

.cal td > div {
	height: 100%;
	overflow-y: auto;
}

.cal .num {
	padding: 3px;
}

.cal .appt {
	color: #777777;
	cursor: pointer;
	padding: 3px;
	text-align: center;
	font-size: 1.1em;
}

.tool-co {
	float: right;
	width: 20%;
	height: 90%;
}

.month-year {
	height: 10%;
}

.month, .year {
	margin: 0 2px;
	color: #555;
	font-size: 1.1em;
	text-transform: uppercase;
}

.month-nav button {
	margin: 0 2px 2em;
	font-size: 1.2em;
}

.book button, .employee button {
	width: 7em;
	margin: 0 2px 1em;
	font-size: 1.1em;
}

.messages {
	margin: 15px 0 0;
	height: 60%;
	display: flex;
	overflow-y: auto;
	flex-wrap: wrap;
	justify-content: center;
}

.messages .title {
	margin: 0 2px;
	color: #555;
	font-size: 1.1em;
	text-transform: uppercase;
}

.message {
	margin: 10px 5px;
	white-space: normal;
	word-wrap: break-word;
}
