<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Employee List</title>
</head>
<body>
	<div class="messages">
		<?php while ($message = $messages->pop()): ?>
			<div class="message">
				<span class="title">Message</span>
				<div class="text"><?= $message ?></div>
			</div>
		<?php endwhile ?>
	</div>
	<a href="/employee/create">Create</a>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Access</th>
			<th></th>
			<th></th>
		</tr>

		<?php foreach ($employees as $employee): ?>
			<tr>
				<td><?= $employee->id ?></td>
				<td><?= $employee->name ?></td>
				<td><?= $employee->email ?></td>
				<td>
					<?php foreach ($access as $key => $val): ?>
						<?php if (($employee->access & $val) === $val): ?>
							<div><?= $key ?></div>
						<?php endif ?>
					<?php endforeach ?>
				</td>
				<td><a href="/employee/update/<?= $employee->id ?>">Update</a></td>
				<td><a href="/employee/delete/<?= $employee->id ?>">Delete</a></td>
			</tr>
		<?php endforeach ?>
	</table>
</body>
</html>
